// #Borders
$base-radius: 4px;

// #Breakpoints
$mq-breakpoints: (
    sm: 481px,
    md: 769px,
    lg: 1025px,
    xl: 1600px
);

// #Grid
$base-columns: 12 !default;
$base-gutter: 3% !default;

// #Spacings
$base-spacing-unit: (
    \00002D\00002D: 2px,
    \00002D: 4px,
    "": 8px,
    \00002b: 16px,
    \00002b\00002b: 32px,
    xl: 60px,
);

$box-model-abbrv: (
    -top: t,
    -right: r,
    -bottom: b,
    -left: l,
    "": "",
);
